p {
  color: rgb(255, 0, 170);
}

body {
  background-color: rgb(250, 246, 246);
}

h1 {
  font-size: 2em;
}
div {
      padding: 20px;
      margin: 10px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    
    th {
      background-color: #1b1818; 
      color :white
    }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    
    input[type="text"], input[type="email"] {
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
    
    input[type="submit"] {
      background-color: #af4c9e;
      color: rgb(241, 236, 236);
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type="submit"]:hover {
      background-color: #f1f4f1;
    }
